.chapters_container{
    width:100%;
}

.constitution_title{
    width: 88%;
    color: #034078;
    font-size: 3rem;
    margin: 0 auto;
}
.constituion_img{
    width: 100%;
    height: 50px;
    background-color: yellow;
}
.constitution_preamble_container{
    width: 88%;
    margin: 0 auto;
}
.constitution_sub_section_title{
    width: 94%;
    padding: 20px 0px 20px 80px;
    font-size: 2rem;
    color:#034078;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 3rem;
}
.constitution_preamble_body{
    width: 100%;
    font-size: 1.3rem;
    color:#034078;
    margin-bottom: 3rem;
}
.chapter_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%
}

.constitution_chapters{
    width: 88%;
    margin: 0 auto;
}