.constitution{
    width: 80%;
    margin: 0 auto;
}
.constitution_hero_section{
    height: 170px;
    width: 100%;
    margin-bottom:50px;
}
.constituion_hero_text{
    color: #034078;
    font-size: 1.2rem;
    margin-bottom:7px;
    line-height:1;
}
.top{
    font-size: 3rem;
    margin-bottom: 1.5rem;
}
.constitution_search{
    height: 80px;
    width: 100%;
}
.search_field_container{
    width: 100%;
    display: flex;
    align-items: center;
}
.search_input{
    border-radius: 10px;
    color:#034078;
    width: 40%;
    height: 2.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    margin-right: 2rem;
}
.search_input:focus{
        outline: none !important;
        border:1.5px solid #034078;
        /* box-shadow: 0 0 10px #034078; */
}
.customX_button{
    background-color: #034078 !important;
    border:none !important;
}
.customX_button:hover{
    background-color: #fff !important;
    border:none !important;
    color: #034078 !important;
    border:1px solid #034078 !important;
}

.constitution_main{
    width: 100%;
    height: auto;
}
.constitution_main_head{
    height: 40px;
    width: 100%;
    color:#034078;
    /* box-shadow: 0 px 0 rgba(0, 0, 0, 0.2); */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 5px 8px -5px;
    margin-bottom: 1rem;
}

.constitution_main_body{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.constitution_upload{
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: right;
}
.constitution_bottom{
    width: 70%;
    margin: 5rem auto;
    height: 35rem;
    background-image: url(../../images/consti.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
