.constitution_chapter_container {
  background-color: #034078;
  height: 80px;
  width: 65%;
  margin-bottom: 2rem;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link {
  width: 90%;
  text-decoration: none;
  color: #fff;
  justify-content: center;
}
.link:hover {
  color: #fff;
}
.constitution_chapter_name {
  display: flex;
  align-items: center;
  height: 100%;
}
.constitution_chapter_icon {
  font-size: 2rem;
  width: 10%;
    display: flex;
    justify-content: center;
}
.constitution_chapter_nomenclature {
    width: 90%;
}
.constitution_chapter_title {
  font-size: 2rem;
}
.constitution_chapter_description {
  font-size: 1rem;
}
.card_icon{
    width: 5%
}
