footer{
    width: 100%;
    height: 150px;
    background-color:#034078;
}
.footer_top{
    height: 40%;
    width:100%;
    display: flex;
}
.footer_top_items{
    width: 33.3%;
    border: 1px solid #aaa;
    font-size: 1.5rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_bottom{
    height: 60%;
    width:100%;
    text-align: center;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: bold;
    color: #fff;
}