.hero_container{
    width: 90%;
    height: 500px;
    margin-left: 80px;
    display: flex;
    justify-content: space-between;
}
.hero_left{
    width: 45%;
}
.hero_left span{
    font-size: 5rem;
    display: block;
    font-weight: bold;
    color: #034078;
}
.hero_right{
    width: 45%;
    background-color: red;
}

.button_container{
    height: auto;
    width: auto;
}